### 의도 학습 데이터 전처리

In [1]:
import pandas as pd

df1 = pd.read_csv('fci_test.txt', sep='\t', header=None)
df2 = pd.read_csv('fci_train_val.txt', sep='\t', header=None)
df = pd.concat([df1, df2], ignore_index=True)
print(df.shape)
df.head(5)

(61255, 2)

   0    1
0  0  연두색
1  0   되면
2  0    오
3  0  그걸루
4  0  연구소

In [2]:
drop = [0, 4, 6]
df = df[df[0] != 0]
df = df[df[0] != 4]
df = df[df[0] != 6]
print(df.shape)
df.head(5)

(50224, 2)

     0                                   1
600  1  사람이 죽기 전에 소중한 사람을 위해 하나쯤은 꼭 해주구 간다
601  1     그리고 동료 후배 선수들에도 충분히 큰 귀감이 될것입니다
602  1                         이제야 다 기억이 나
603  1             산 사람을 버리는 고려장과는 차원이 다르다
604  1                     자네 진짜 고통은 그때부터야

In [3]:
df['label'] = 0
df['label'].loc[df[0] == 2] = 1
df.head(5)

     0                                   1  label
600  1  사람이 죽기 전에 소중한 사람을 위해 하나쯤은 꼭 해주구 간다      0
601  1     그리고 동료 후배 선수들에도 충분히 큰 귀감이 될것입니다      0
602  1                         이제야 다 기억이 나      0
603  1             산 사람을 버리는 고려장과는 차원이 다르다      0
604  1                     자네 진짜 고통은 그때부터야      0

In [4]:
tmp_pos = df.loc[df['label'] == 1]
print(tmp_pos.shape)
tmp_pos.head(5)

(17869, 3)

      0                        1  label
2430  2         현재 집안 기온이 어떻게 되니      1
2431  2            동기 모임 장소가 어디야      1
2432  2  문학과 예술 중에서 추천할 만한 강좌 있어      1
2433  2     다음달 필리핀 최고 기온 좀 검색해줘      1
2434  2       거실에 불이 켜져 있는지 보고 와      1

In [5]:
tmp_neg = df.loc[df['label'] != 1]
print(tmp_neg.shape)
tmp_neg.head(5)

(32355, 3)

     0                                   1  label
600  1  사람이 죽기 전에 소중한 사람을 위해 하나쯤은 꼭 해주구 간다      0
601  1     그리고 동료 후배 선수들에도 충분히 큰 귀감이 될것입니다      0
602  1                         이제야 다 기억이 나      0
603  1             산 사람을 버리는 고려장과는 차원이 다르다      0
604  1                     자네 진짜 고통은 그때부터야      0

In [6]:
tmp_neg = tmp_neg.sample(n=tmp_pos.shape[0])
print(tmp_neg.shape)
tmp_neg.head(5)

(17869, 3)

       0                        1  label
56808  1            구월 이십일에 이민 간다      0
24521  1               내일 매우 쌀쌀하데      0
25191  1  니 성격에 고택 넘겨주구 헤어질 거 같아서      0
56577  1              칼슘제를 먹어야 겠어      0
12647  1     약속을 깨는 사람이랑은 영원히 절교야      0

In [7]:
df = pd.concat([tmp_pos, tmp_neg], ignore_index=True)
print(df.shape)
df.head(5)

(35738, 3)

   0                        1  label
0  2         현재 집안 기온이 어떻게 되니      1
1  2            동기 모임 장소가 어디야      1
2  2  문학과 예술 중에서 추천할 만한 강좌 있어      1
3  2     다음달 필리핀 최고 기온 좀 검색해줘      1
4  2       거실에 불이 켜져 있는지 보고 와      1

In [8]:
df.to_csv('fci.csv', index=False)